<h1>Lista de Productos</h1>
<a href="/realtimeproducts"><button class="btn1">Agregar Producto</button></a>

<div id="p-container"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="./home.js"></script>