<div class="d-flex align-items-center py-4">

    <main class="form-signin w-100 m-auto">

        <form method="POST" action="/api/session/login">
            <h1 class="h3 mb-3 fw-normal text-uppercase">Please Log in</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
                    required>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
                    required>
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-primary w-100 py-2 text-capitalize" type="submit">Log in</button>
        </form>

        <div>
            <p class="form-text m-0">Don't have an account?<span><a href="/register"
                        class="btn btn-link text-capitalize px-1">Sign in</a></span></p>
            <p class="form-text m-0">Restore password?<span><a href="/restore-password"
                        class="btn btn-link text-capitalize px-1">Click here!</a></span></p>
        </div>

        <div class="d-flex justify-content-center align-items-center my-4">
        <a href="/api/session/github" class="github-btn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="#fff" d="M12 0.297C5.373 0.297 0 5.67 0 12.297C0 17.537 3.438 21.871 8.205 23.485C8.817 23.588 9.05 23.242 9.05 22.95C9.05 22.679 9.043 21.85 9.038 20.855C5.772 21.559 5.075 19.212 5.075 19.212C4.539 17.832 3.751 17.459 3.751 17.459C2.679 16.725 3.835 16.741 3.835 16.741C4.979 16.82 5.592 17.98 5.592 17.98C6.639 19.747 8.351 19.232 9.029 18.928C9.134 18.194 9.466 17.683 9.823 17.398C7.228 17.065 4.373 16.062 4.373 11.489C4.373 10.188 4.847 9.158 5.629 8.317C5.496 8.031 5.068 6.823 5.716 5.162C5.716 5.162 6.698 4.834 9.027 6.308C9.979 6.033 11.028 5.907 12.065 5.901C13.106 5.907 14.158 6.033 15.107 6.308C17.446 4.834 18.447 5.162 18.447 5.162C19.093 6.823 18.672 8.031 18.532 8.317C19.309 9.158 19.783 10.188 19.783 11.489C19.783 16.062 16.925 17.065 14.339 17.398C14.702 17.683 15.027 18.194 15.129 18.928C15.807 19.232 17.517 19.747 18.564 17.98C18.564 17.98 19.175 16.82 20.323 16.741C20.323 16.741 21.473 16.725 20.425 17.459C20.425 17.459 19.643 17.832 19.107 19.212C19.107 19.212 18.409 21.559 15.145 20.855C15.141 21.85 15.139 22.679 15.139 22.95C15.139 23.242 15.363 23.588 15.974 23.485C20.734 21.871 24.172 17.537 24.172 12.297C24.172 5.67 18.799 0.297 12 0.297Z"/>
            </svg>
            <span>Login with GitHub</span>
        </a>
    </div>
    </main>
</div>