<h1>Lista de Productos</h1>

<div class="d-flex justify-content-between w-100">
    <div class="d-flex">
        <a href="/"><button class="btn btn-success my-2 mx-1">Home</button></a>
        <a href="/realtimeproducts"><button class="btn btn-success my-2 mx-1">Editar Productos</button></a>
        <a href="/carts/{{user.cart}}"><button class="btn btn-success my-2 mx-1">Carrito</button></a>
    </div>

    <div class="d-flex">
        <a id="btnBack"><button class="btn btn-secondary mx-1">Go Back</button></a>
        <form action="/api/session/logout" method="POST">
            <button type="submit" class="btn btn-danger mx-1">Log Out</button>
        </form>
    </div>
</div>

<div id="p-container"></div>
<div id="p-controllers"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="./products.js"></script>
<script>
    const cid = "{{user.cart}}"
</script>