<h1>Lista de Productos</h1>
<a href="/"><button class="btn1">Home</button></a>
<a href="/realtimeproducts"><button class="btn1">Editar Productos</button></a>
<a href="/carts/66d13c0ee3e44f70aa5b8e22"><button class="btn1">Carrito</button></a>

<div id="p-container"></div>
<div id="p-controllers"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="./products.js"></script>