<h1>Lista de Productos</h1>
<a href="/"><button class="btn1">Home</button></a>
<a href="/realtimeproducts"><button class="btn1">Editar Productos</button></a>

<div id="p-container"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="./products.js"></script>