<h1>Lista de Productos</h1>
<a href="/realtimeproducts"><button class="btn1">Agregar Producto</button></a>

<div id="p-container"></div>

<ul>
    {{#each products}}
        <li>
            <p>{{this.title}}</p>
        </li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="./products.js"></script>