<h1>Real Time Products</h1>
<div class="d-flex justify-content-between w-100">
    <div class="d-flex">
        <a href="/"><button class="btn btn-success my-2 mx-1">Home</button></a>
        <a href="/products"><button class="btn btn-success my-2 mx-1">Lista de productos</button></a>
    </div>

    <div class="d-flex">
        <a id="btnBack"><button class="btn btn-secondary mx-1">Go Back</button></a>
        <form action="/api/session/logout" method="POST">
            <button type="submit" class="btn btn-danger mx-1">Log Out</button>
        </form>
    </div>
</div>


<div class="add-form">
    <h2>Añadir Producto</h2>
    <form action="">
        <input id="title" type="text" placeholder="Título" required>
        <input id="description" type="text" placeholder="Descripción" required>
        <input id="code" type="text" placeholder="Código" required>
        <input id="price" type="number" placeholder="Precio" required>
        <input id="stock" type="number" placeholder="Stock" required>
        <input id="category" type="text" placeholder="Categoria" required>
        <br>
        <button id="addButton">Añadir</button>
    </form>
</div>

<ul id="product-list"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="./RTP.js"></script>