<div class="d-flex flex-column align-items-center py-4">

    <h1>REGISTER</h1>

    <form method="POST" action="/api/session/register">
        <div class="row">
            <div class=" col mb-3">
                <label for="inputName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="firstName" placeholder="John" required>
            </div>
            <div class=" col mb-3">
                <label for="inputLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="lastName" placeholder="Doe" required>
            </div>
            <div class="col mb-3">
                <label for="inputAge" class="form-label">Age</label>
                <input type="number" min="0" max="100" class="form-control" id="age" name="age" placeholder="0"
                    required>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com"
                    required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="col mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div id="passwordHelp" class="form-text">Never share your password with anyone else.</div>
            </div>
        </div>
        <button id="btnSubmit" type="submit" class="btn btn-primary mx-2">Submit</button>
    </form>

    <div>
        <p class="form-text">Already have an account?<span><a href="/login"
                    class="btn btn-link text-capitalize px-1">Log in</a></span></p>
    </div>
</div>

{{!--
<script src="register.js"></script> --}}