*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #f2f2f2;
    color: #333;
}

.product-div{ 
    border: 1px black solid;
    width: 200px;
    display: inline-block;
    padding: 20px;
    margin: 0px 0px 10px 10px;
}

li {
    list-style: none;
}

h1 {
    margin: 10px 10px;
}

p {
    margin: 0;
}

.add-form{
    display: block;
    width: 300px;
    margin: 0px 0px 10px 10px;
}

.btn-delete{
    color: #fff;
    background-color: crimson;
    font-size: medium;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-add{
    /* color: #fff; */
    background-color: orange;
    font-size: medium;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-add:hover{
    background-color: green;
    color: #fff;
    scale: 1.15;
    transition: all .2s ease;
}

#addButton{
    color: #fff;
    background-color: forestgreen;
    font-size: medium;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.btn1 {
    background-color: #4CAF50; /* Color de fondo verde */
    border: none; /* Sin borde */
    color: white; /* Texto en color blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cambiar cursor a mano al pasar por encima */
    border-radius: 12px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.btn1:hover {
    background-color: #45a049; /* Color de fondo más oscuro al pasar el ratón */
}

.navigation{
    margin: 10px 10px;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}